body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  width: 100%;
  margin: auto;
}

p {
  margin: 10px;
}

button {
  border:none;
}

.container1 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 300px 600px 300px;
  grid-auto-flow: column;
  height: 160px;
}

.container2 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 400px 800px;
  height: 150px;
}

.item-name {
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
}

.Request-button {
  height: 104px;
  width: 220px;
}

.Add-button {
  height: 104px;
  width: 440px;
}

.Sign-button {
  height: 97px;
  width: 220px;
}

.Start-button {
  height: 97px;
  width: 220px;
}

.Download-button {
  height: 97px;
  width: 220px;
}

.Apply-button {
  height: 97px;
  width: 660px;
}

.Save-button {
  height: 97px;
  width: 220px;
}